<div class="container-fluid bg-secondary" style="text-align: center; padding:  30px;">
    <h1><strong>Bulk-Body</strong></h1>
</div>
<div class="container-fluid" style="margin-top: 20px;">
    <h1><strong>Monday(Chest day)</strong></h1>
    <div class="row" style="margin-top: 20px;">
     <div class="col-sm-2">
        <img src="./assets/img/chest1.jpg" alt="">
        <p style="text-align: center;"><strong>Flat Bench Press</strong></p>
     </div>
     <div class="col-sm-2">
        <img src="./assets/img/chest2.jpg" alt="">
        <p style="text-align: center;"><strong>Decline Dumbell Press</strong></p>
     </div>
     <div class="col-sm-2">
        <img src="./assets/img/chest3.jpg" alt="">
        <p style="text-align: center;"><strong>Incline Dumbell Fly</strong></p>
     </div>
     <div class="col-sm-2">
        <img src="./assets/img/chest4.jpg" alt="">
        <p style="text-align: center;"><strong>Incline Press</strong></p>
     </div>
     <div class="col-sm-2">
        <img src="./assets/img/chest5.jpg" alt="">
        <p style="text-align: center;"><strong>Cable Fly</strong></p>
     </div>
     <div class="col-sm-2">
        <img src="./assets/img/chest6.jpg" alt="">
        <p style="text-align: center;"><strong>Chest Dips</strong></p>
     </div>
    </div>
    <h1><strong>Tuesday(Shoulder)</strong></h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
           <img src="./assets/img/sholder1.jpg" alt="">
           <p style="text-align: center;"><strong>Barbell Shoulder Press</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/sholder2.jpg" alt="">
           <p style="text-align: center;"><strong>Dumbell Lateral Raise</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/sholder3.jpg" alt="">
           <p style="text-align: center;"><strong>Cable Press</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/sholder4.jpg" alt="">
           <p style="text-align: center;"><strong>Dumbell Front Raise</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/sholder5.jpg" alt="">
           <p style="text-align: center;"><strong>Bent Over Dumbell Raise</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/sholder6.jpg" alt="">
           <p style="text-align: center;"><strong>Machine Lateral Raise</strong></p>
        </div>
       </div>
       <h1><strong>Wednesday(lats)</strong></h1>
       <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
           <img src="./assets/img/lat1.jpg" alt="">
           <p style="text-align: center;"><strong>Lat Pulldown</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/lat7.jpg" alt="">
           <p style="text-align: center;"><strong>Narrow Lat Pulldown</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/lat3.jpg" alt="">
           <p style="text-align: center;"><strong>Bent Over DUMB Row</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/lat4.jpg" alt="">
           <p style="text-align: center;"><strong>Bent Over Row</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/lat5.jpg" alt="">
           <p style="text-align: center;"><strong>Cable one arm lat Pulldown</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/lat6.jpg" alt="">
           <p style="text-align: center;"><strong>Seated Row Machine</strong></p>
        </div>
       </div>
       <h1><strong>Thursday(Bicep)</strong></h1>
       <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
           <img src="./assets/img/bicip1.jpg" alt="">
           <p style="text-align: center;"><strong>Barbell Curl</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/bicip2.jpg" alt="">
           <p style="text-align: center;"><strong>Standing Bicep Curls</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/bicip3.jpg" alt="">
           <p style="text-align: center;"><strong>Consentraion Bicep</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/bicip4.gif" alt="">
           <p style="text-align: center;"><strong>Reverse one arm Curl</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/bicip5.jpg" alt="">
           <p style="text-align: center;"><strong>Standing one arm Curl</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/bicip7.jpg" alt="">
           <p style="text-align: center;"><strong>Dumbell Hammer Curl</strong></p>
        </div>
       </div>
       <h1><strong>Friday(Triceps)</strong></h1>
       <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
           <img src="./assets/img/tri1.jpg" alt="">
           <p style="text-align: center;"><strong>Rope Pushdown</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/tri2.jpg" alt="">
           <p style="text-align: center;"><strong>Tricep extention</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/tri3.jpg" alt="">
           <p style="text-align: center;"><strong>Overhand Rope extention</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/tri4.jpg" alt="">
           <p style="text-align: center;"><strong>Overhand Barbell extention</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/tri5.jpg" alt="">
           <p style="text-align: center;"><strong>Overhand Dumbell extention</strong></p>
        </div>
       </div>
       <h1><strong>Saturday(Squats)</strong></h1>
       <div class="row" style="margin-top: 20px;">
        <div class="col-sm-2">
           <img src="./assets/img/leg1.jpg" alt="">
           <p style="text-align: center;"><strong>Seated Leg Curls</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/leg2.jpg" alt="">
           <p style="text-align: center;"><strong>Lying Leg Curls</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/leg3.jpg" alt="">
           <p style="text-align: center;"><strong>Calf Machines</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/leg4.jpg" alt="">
           <p style="text-align: center;"><strong>Calves Leg Press</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/leg5.jpg" alt="">
           <p style="text-align: center;"><strong>Dumbell Squat</strong></p>
        </div>
        <div class="col-sm-2">
           <img src="./assets/img/leg6.jpg" alt="">
           <p style="text-align: center;"><strong>Leg Extensions</strong></p>
        </div>
       </div>
</div>
