<div class="container-fluid" style="margin-top: 10px;">
    <img src="./assets/img/s1.jpg" alt="s1" width="100%" height="400px">
</div>

<div class="container mt-2" >
    <h3 style="margin-top: 30px;"><strong>Brand Savings A-Z</strong></h3>
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
    
        <img src="./assets/img/s2.jpg" alt="Photo of sunset">
            <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>10% OFF</strong></h2>
            <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s3.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>25% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button> 
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">

        <img src="./assets/img/s4.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>15% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s5.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>20% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>      </div>
        </div>    
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s6.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>25% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
        
        <img src="./assets/img/s7.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>20% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s8.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>10% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s9.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>15% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>    
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
        
        <img src="./assets/img/s10.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>20% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
         
        <img src="./assets/img/s11.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>10% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s13.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>15% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>      
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
        
        <img src="./assets/img/s14.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>25% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>     
        </div>
        </div>    
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
        
        <img src="./assets/img/s15.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>10% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
         
        <img src="./assets/img/s16.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>25% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s17.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>15% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s18.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>20% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>    
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
         
        <img src="./assets/img/s19.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>15% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
      
        <img src="./assets/img/s20.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>20% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button> 
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/s21.jpg" alt="Photo of sunset">
            <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>25% OFF</strong></h2>
            <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
         
        <img src="./assets/img/s22.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>10% OFF</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>    
      </div>
      <h3 style="margin-top: 30px;"><strong>Additional Savings</strong></h3>
      <div class="row" style="margin-top: 30px;">
        
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
          
        <img src="./assets/img/as1.jpg" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>EXCLUSIVES</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-block">
        
        <img src="./assets/img/as2.gif" alt="Photo of sunset">
        <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>GET VERIFIDE</strong></h2>
        <button type="button" class="btn btn-info">SHOP NOW</button>
      </div>
        </div>
      
    </div>

    