<div class="container-fluid">
<div class="row " style="margin-top: 30px;">
    <div class="col-sm-6 bg-light">
        <h1 style="text-align: center;">0 ITEMS</h1>
        <p class="small text" style="text-align: center;">Shipping & taxes calculated at checkout</p>
        <div class="row">
            <div class="col-sm-4 offset-2">
                <p><strong>Non-Member Total</strong></p>
                <h1>Rs. 0.00</h1>
            </div>
            <div class="col-sm-4 offset-2">
                <p><strong>BodyFit Member Total</strong></p>
                <h1 style="color: rgb(7, 175, 253);">Rs. 0.00</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-2">
                <p><strong>Become a BodyFit Member</strong></p>
                <p><a href="#"><strong>EXTRA 10% off</strong></a>Starts with thi Order <br>and so much more</p>
            </div>
            <div class="col-sm-4 offset-2" style="margin-top: 50px;">
                <button type="button" class="btn btn-outline-info"><strong>Join Now</strong></button>
            </div>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="row">
            <div class="col-sm-12">
                <h2 style="text-align: center;padding-top: 80px; "><strong>Shopping Cart</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="text-align: center;"><strong>Your cart is currently empty.</strong></h2>
            </div>
        </div>
    </div>
</div>
</div>

<br>
<br><br>
