<div class="container-fluid bg-secondary" style="text-align: center; padding:  30px;">
    <h1><strong>Six-packs-ABS</strong></h1>
</div>
<div class="container" style="margin-top: 20px;">
    
    <div class="row" style="margin-top: 20px;">
     <div class="col-sm-4">
        <img src="./assets/img/abs1.gif" alt="">
        <p style="text-align: center;"><strong>Cross Bdoy crunches </strong></p>
     </div>
     <div class="col-sm-4">
        <img src="./assets/img/abs2.gif" alt="">
        <p style="text-align: center;"><strong>Leg Raise</strong></p>
     </div>
     <div class="col-sm-4">
        <img src="./assets/img/abs3.gif" alt="">
        <p style="text-align: center;"><strong>Mountain Climber</strong></p>
     </div>
     
    </div>
    
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
           <img src="./assets/img/abs4.gif" alt="">
           <p style="text-align: center;"><strong>crunches</strong></p>
        </div>
        <div class="col-sm-4">
           <img src="./assets/img/abs5.gif" alt="">
           <p style="text-align: center;"><strong>Russian Twist</strong></p>
        </div>
        <div class="col-sm-4">
           <img src="./assets/img/abs6.gif" alt="">
           <p style="text-align: center;"><strong>Jackknives</strong></p>
        </div>
        
       </div>
    </div>