<div class="container-fluid bg-secondary" style="text-align: center; padding: 50px;">
    <h1><strong>Fat Burners</strong></h1>
</div>
<div class="container">
    <h3><strong>Home | <a href="#"><strong>  Fat Burners</strong></a></strong></h3>
    <br>
    <p>Fat burners are extremely valuable for a natural weight loss-- these nutritional supplements increase the rate of your body's metabolism by reducing fat absorption and burning more body fat into fuel.</p>
    <div class="row" style="margin-top: 20px;">
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat1.png">
                    </a>
                    <div class="price fixed"> $1,835.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">EVLUTION NUTRITION LeanMode Weight-Loss</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat2.png">
                    </a>
                    <div class="price fixed"> $33.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Animal Cuts</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat3.png">
                    </a>
                    <div class="price fixed"> $13.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Swolverine THERM Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat4.png">
                    </a>
                    <div class="price fixed"> $5.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">EVLUTION NUTRITION TRANS4ORM Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat5.png">
                    </a>
                    <div class="price fixed"> $45.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">JYM Shred JYM Weight Loss Pills</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat6.png">
                    </a>
                    <div class="price fixed"> $95.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">JYM SS8 Advanced Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat7.png">
                    </a>
                    <div class="price fixed"> $28.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">RSP Nutrition QuadraLean Thermo Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat8.png">
                    </a>
                    <div class="price fixed"> $55.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">RSP Nutrition QuadraLean Stim-Free Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat9.png">
                    </a>
                    <div class="price fixed"> $35.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Kaged Muscle CLEAN BURN</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat10.png">
                    </a>
                    <div class="price fixed"> $15.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">EVLUTION NUTRITION NiteLean</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat11.png">
                    </a>
                    <div class="price fixed"> $95.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Kaged Muscle Clean Burn Amped</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat12.png">
                    </a>
                    <div class="price fixed"> $65.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Cellucor SuperHD Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat13.png">
                    </a>
                    <div class="price fixed"> $55.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Irwin Naturals Triple-Tea Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat14.png">
                    </a>
                    <div class="price fixed"> $25.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Controlled Labs Red Light</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat15.png">
                    </a>
                    <div class="price fixed"> $5.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">JNX Sports The Ripper! Fat Burner</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/fat16.png">
                    </a>
                    <div class="price fixed"> $35.99 </div>
                    <a href="#" class="add-to-cart"> add to cart </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Universal Nutrition Ripped Fast</a></h3>
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
