<div class="container-fluid bg-secondary" style="text-align: center; padding: 50px;">
    <h1><strong>Whey Protein Blend</strong></h1>
</div>
<div class="container bg-light" style="margin-top: 10px;">
    <h3><strong>Home | <a href="#"><strong>Whey Protein Blend</strong></a></strong></h3>
    <br>
    <p>Whey is a complete protein, meaning it has all nine essential amino acids necessary for protein synthesis. Whey is a foundational supplement and supports a huge range of goals for both men and women. It's fast-digesting and perfect for muscle building and fat loss in combination with a healthy diet and exercise.</p>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr1.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein<br>
                        
                    </a></h3>
                    <div class="price">$19.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr2.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$6.55</span>$4.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr3.jpg">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuildin.com  protein<br>
                       
                    </a></h3>
                    <div class="price"><span>$85.55</span> $19.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr4.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                       
    
                    </a></h3>
                    <div class="price"><span>$65.55</span> $59.11</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr5.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                       
                    </a></h3>
                    <div class="price">$9.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr7.jpg">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$60.55</span>$49.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr8.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuildin.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$80.55</span> $91.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr9.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com protein <br>
                        
    
                    </a></h3>
                    <div class="price"><span>$15.55</span> $10.11</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr10.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                       
                    </a></h3>
                    <div class="price">$19.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr11.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$20.55</span>$19.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr12.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuildin.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$5.55</span> $9.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr14.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com protein <br>
                        
    
                    </a></h3>
                    <div class="price"><span>$8.55</span> $6.11</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr15.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                       
                    </a></h3>
                    <div class="price">$29.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr16.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$200.55</span>$109.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr17.jpg">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuildin.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$80.55</span> $18.90</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr17.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com protein <br>
                        
    
                    </a></h3>
                    <div class="price"><span>$85.55</span> $13.11</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr18.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                       
                    </a></h3>
                    <div class="price">$14.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr19.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$85.55</span>$21.09</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr20.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuildin.com  protein <br>
                        
                    </a></h3>
                    <div class="price"><span>$85.55</span> $19.99</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="./assets/img/pr21.png">
                    </a>
                    <span class="product-sale-label">Sale!</span>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                        <li><a href="#"><i class="fa fa-search"></i> Save 20%</a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Bodybuilding.com protein <br>
                        
    
                    </a></h3>
                    <div class="price"><span>$85.55</span> $16.11</div>
                </div>
            </div>
        </div>
    </div>
</div>