<div class="container-fluid bg-secondary">
    <h1 style="text-align: center; padding: 30px;"><strong>Multivitamin</strong></h1>
</div>
<h3><strong><a href="app.component.html" style="color: #000;">Home</a> | <a href="#">Multivitamins</a></strong></h3>
<div class="container d-flex justify-content-center mt-50 mb-50">
    
    <div class="row">
 
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <br>
                    <div class="card-img-actions"> <img src="./assets/img/vit1.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <br>
                <br>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Bodybuilding.com Signature Multivitamin </a> </h6> <a href="#" class="text-muted" data-abc="true">BODYBUILDING.COM SIGNATURE</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$110.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit2.jpg" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Optimum Nutrition Opti-Men Multivitamin for Men</a> </h6> <a href="#" class="text-muted" data-abc="true">OPTIMUM NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$1,80.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit3.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Optimum Nutrition Opti-Women Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">OPTIMUM NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit4.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">EVLUTION NUTRITION VitaMode Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">EVLUTION NUTRITION</a>
                    </div>
                    <br>

                    <h3 class="mb-0 font-weight-semibold">$1,249.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit5.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">Toshi
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">EVLUTION NUTRITION Women's Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">EVLUTION NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$2,150.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit6.jpg" class="card-img img-fluid" width="96" height="50" alt=""> </div>
                </div>
                <br>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Animal Pak Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">ANIMAL</a>
                    </div>
                    <br>
                    <br>
                    <h3 class="mb-0 font-weight-semibold">$2,250.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <br>
                    <div class="card-img-actions"> <img src="./assets/img/vit7.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <br>
                <br>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Bodybuilding.com Signature Multivitamin </a> </h6> <a href="#" class="text-muted" data-abc="true">BODYBUILDING.COM SIGNATURE</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$110.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit8.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Optimum Nutrition Opti-Men Multivitamin for Men</a> </h6> <a href="#" class="text-muted" data-abc="true">OPTIMUM NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$1,80.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit9.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Optimum Nutrition Opti-Women Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">OPTIMUM NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$250.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit10.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">EVLUTION NUTRITION VitaMode Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">EVLUTION NUTRITION</a>
                    </div>
                    <br>

                    <h3 class="mb-0 font-weight-semibold">$1,249.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit11.png" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">Toshi
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">EVLUTION NUTRITION Women's Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">EVLUTION NUTRITION</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$2,150.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="./assets/img/vit12.png" class="card-img img-fluid" width="96" height="50" alt=""> </div>
                </div>
                <br>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Animal Pak Multivitamin</a> </h6> <a href="#" class="text-muted" data-abc="true">ANIMAL</a>
                    </div>
                    <br>
                    <br>
                    <h3 class="mb-0 font-weight-semibold">$2,250.99</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>