
<div class="container-fluid" style="margin-top: 20px;">
    <div class="carousel slide" data-ride="carousel" id="m">
      <ul class="carousel-indicators">
        <li data-target="#m" data-slide-to="0" class="active"></li>
        <li data-target="#m" data-slide-to="1"></li>
        <li data-target="#m" data-slide-to="2"></li>
        <li data-target="#m" data-slide-to="3"></li>
        <li data-target="#m" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="./assets/img/carousel.gif" alt="car" width="100%" height="250px"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./assets/img/carousel1.gif" alt="car" width="100%" height="250px"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./assets/img/carousel5.jpg" alt="car" width="100%" height="250px"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./assets/img/carousel6.jpg" alt="car" width="100%" height="250px"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="./assets/img/carousel8.jpg" alt="car" width="100%" height="250px"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#m" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#m" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="container " style="margin-top: 20px;">
    <div class="row">
      <a href="#"><img src="./assets/img/home3.jpg" alt="home1" width="100%" height="110px"></a>
    </div>
    <div class="row" style="margin-top: 20px;">
      <a href="#"><img src="./assets/img/home2.jpg" alt="home2" width="100%" height="250px"></a>
    </div>
    <div class="row" style="margin-top: 20px;">
      <a href="#"><img src="./assets/img/home1.jpg" alt="home2" width="100%" height="250px"></a>
    </div>
    <h3 style="text-align: center;margin-top: 30PX;"><strong>SHOP BY CATEGORY</strong></h3>
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-3">
       <a href="#"><img src="./assets/img/home4.gif" alt="home4" width="100%"></a>
       <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
      </div>
      <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home5.jpg" alt="home5" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
       <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home6.jpg" alt="home6" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
       <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home7.jpg" alt="home7" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
    </div>
    <div class="row" style="margin-top: 30px;"> 
      <div class="col-sm-3">
        <a href="#"><img src="./assets/img/ome8.jpg" alt="home4" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
       <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home9.jpg" alt="home4" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
       <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home10.jpg" alt="home4" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
       <div class="col-sm-3">
        <a href="#"><img src="./assets/img/home11.jpg" alt="home4" width="100%"></a>
        <h5 style="text-align: center; margin-top: 10px;"><a href="#"><strong>UP TO 20% OFF</strong></a></h5>
       </div>
    </div>
  </div>
  <div class="container ">
  <div class="container1">
  <h3 style="text-align: center; margin-top: 30px;"><strong>TIPS FROM OUR EDITOR</strong></h3>

    <div class="row" style="margin-top: 30px;">
      <div class="thumb-box col-sm-4">
      <a href="">
        <img src="assets/img/home14.jpg" alt="home14">
         <span class="overlay-box">
        <span class="meta"><a href="#">NUTRITION</a></span>
        <span class="main-title">Workout Supplements For Women: The World of Women's Fitness</span>
        <span class="description">Supplements can give you that extra edge to burn fat and gain lean muscle faster. Here's a list of the 15 best</span>
          </span>
      </a>
    </div>
    
      <div class="thumb-box col-sm-4">
      <a href="">
          <img src="assets/img/home15.jpg" alt="home15">
         <span class="overlay-box">
        <span class="meta"><a href="#">NUTRITION > SUPPLEMENTATION</a></span>
        <span class="main-title">The 3 Best Supplements For Fat Burning</span>
        <span class="description">Looking to take your weight-loss efforts up a notch or two? Look no further than this trio of safe and effective fat-burning supplements</span>
          </span>
      </a>
    </div>
    
      <div class="thumb-box col-sm-4">
      <a href="">
          <img src="assets/img/home16.jpg" alt="home16">
        <span class="overlay-box">
        <span class="meta">TRAINING</span>
        <span class="main-title">The science of Muscle Recovery: A New Approach to the post-Workout Window </span>
        <span class="description">Here's what to do during and immediately after your Workout so you come back stronger tomorrow!</span>
          </span>
      </a>
    </div>
    </div>
    </div>
    </div>
      
    <h3 style="text-align: center;margin-top: 30px;"><strong>TOP BODYFIT WORKOUTS</strong></h3>
    <div class="container mt-2" >
      <!--   <div class="card card-block mb-2">
          <h4 class="card-title">Card 1</h4>
          <p class="card-text">Welcom to bootstrap card styles</p>
          <a href="#" class="btn btn-primary">Submit</a>
        </div>   -->
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
      
          <img src="./assets/img/t1.jpg" alt="Photo of sunset">
              <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>The New You is 84 videos Away</strong></h2>
              <p>Epic Workouts & Nutrition Plan for Killer Gains</p>
              <a href="#">Advanced | 12 Weeks</a>
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            
          <img src="./assets/img/t2.jpg" alt="Photo of sunset">
          <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>Minimal Equipment, Maximum Results</strong></h2>
         <p>Integrating Bodyweight, Cardio & Resistance Movements</p>
         <a href="#">Intermediate | 5 Weeks</a>
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
  
          <img src="./assets/img/t3.jpg" alt="Photo of sunset">
          <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>EXCLUSIVE Style Transforming videos</strong></h2>
          <p>Forget counting Macros With Nutrition & Supp Plan</p>
          <a href="#">Intermediate | 6 Weeks</a>
        </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-block">
            
          <img src="./assets/img/t4.jpg" alt="Photo of sunset">
          <h2 class="card-title mt-3 mb-3 " style="text-align: center;"><strong>Dynamite Dumbbell || Workouts for Size </strong></h2>
          <p>You'll hit every muscle group with just enough to grow on, recover, and feel great doing it</p>
          <a href="#">Intermediate | 6 Weeks</a> 
        </div>
          </div>    
        </div>
